

#CovenantPage_Background{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-Content: space-around;
    padding: 2%;
    /*width: 100%;*/
    gap: 30px;
}
#CovenantPage_Logo {
    position: relative;
    top: 3%;
}

#CovenantPage_ChwaziContainer{
    flex: auto;
    padding: 5%;
    width: 100%;
    height: 30vh;
}