

#CovenantPage_Background{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    /*width: 100%;*/
}

#CovenantPage_ChwaziContainer{
    flex: auto;
    padding: 5%;
    width: 100%;
}