
.Ending_page_component {

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    padding: 2%;
    /*position: relative;*/
    text-justify: auto;
    /*top: 50px;*/

}
@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/*@keyframes swing {*/
/*    0%, 100% {*/
/*        transform: rotate(-10deg);*/
/*    }*/
/*    25% {*/
/*        transform: rotate(10deg);*/
/*    }*/
/*    50% {*/
/*        transform: rotate(-10deg);*/
/*    }*/
/*    75% {*/
/*        transform: rotate(10deg);*/
/*    }*/
/*}*/

/*.dancing-winner {*/
/*    animation: swing 2s infinite;*/
/*}*/

/*.swinging-image {*/
/*    animation: swing 1s infinite;*/
/*}*/

/*.button-container {*/
/*    padding: 20px;*/
/*}*/
