h1{
    text-align: center;
}
.Ending_page_component {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 8px;
    /*height: 100vh;*/
    /*width: 100vw;*/

}

.button-container {
    padding: 20px;
}
