

.group_mission_component {
    /*background-image: url("../Pages/images/background/light_background.svg");*/
    /*background-size: cover;*/
    /*background-position: center;*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    padding: 20px 20px;
    /*position: relative;*/
    text-justify: auto;
    /*top: 50px;*/

}


