


#JoinPage_Background {

    /*min-height: 500vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    /*height: 100vh;*/
    /*width: 100vw;*/
}

#JoinPage_Logo {
    position: relative;
    top: 5%;

}

#JoinPage_Title{
    position: relative;
    top: 25%;
    width: 80%;
    text-justify: auto;
    margin-top: 45px;
    margin-bottom: 90px;
}

#JoinPage_Input {
    position: relative;
    top: 30%;
    /*margin-bottom: 30px;*/
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 26px;
}

#Enter {
    background-color: #D1B067;
    color: #282c34;
    padding: 8px 70px;
    font-size: 22px;
    text-transform: none;
}

#goBack {
    padding: 8px 70px;
    font-size: 20px;

}
