.mainFrame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-Content: space-evenly;
    gap: 15px;
}

@keyframes floatAnimation {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

.logo {
    margin-top: 20px;
    width: 100px;
    animation: floatAnimation 3s infinite;
}

.text {
    margin-top: 50px;
}