#StartPage_Background{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-transform: none;
}

#StartPage_Logo {
    position: relative;
    top: 5%;
}

#StartPage_Title {
    position: relative;
    top: 10%;
    width: 80%;
    text-justify: auto;
}

#StartPage_Button_Start {
    margin-top: 20px;
    position: relative;
    top: 35%;
    background-color: #25252D;
    text-transform: none;
    font-size: 22px;
    padding: 4px 45px;
}

#StartPage_Button_Join {
    position: relative;
    top: 40%;
    color: #25252D;
    background-color: #D1B067;
    text-transform: none;
    font-size: 22px;
    padding: 4px 45px;
}

#StartPage_Button_Learn {
    position: relative;
    top: 45%;
    text-transform: none;
}

@keyframes floatAnimation {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

.logo {
    margin-top: 20px;
    width: 100px;
    animation: floatAnimation 3s infinite;
}