

#StartPage_Background{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    /*height: 100vh;*/
    /*width: 100vw;*/
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


#StartPage_Logo {
    position: relative;
    top: 5%;

}

#StartPage_Title {
    position: relative;
    top: 10%;
    width: 80%;
    text-justify: auto;
}

#StartPage_Button_Start {
    position: relative;
    padding: 6px 22px;
    font-size: small;
    top: 35%;
    background-color: #25252D;
    /*background-color: #D1B067;*/
}

#StartPage_Button_Join {
    position: relative;
    top: 40%;
    color: #25252D;
    background-color: #D1B067;
    padding: 10px 32px;
    font-size: 20px;
}

#StartPage_Button_Learn {
    font-size: small;
    position: relative;
    top: 45%;
    padding: 6px 22px;
}