

.survival_page_component {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    position: relative;
    text-justify: auto;


    /*width: 100vw;*/

}


